* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    margin: 10px;
    background-image: url(../assets/img/backgroud.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    font-size: 62.5%;
}

/* regla para usar una font descargada a la pc */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'LatoBold';
    src: url('../assets/fonts/Lato-Bold.ttf');
}

a {
    text-decoration: none;
}


h4 {
    font-size: 2.5rem;
}

/*
h1{
	color: greenyellow;
	font-size: 40px;
	text-align: center;

}*/

.page__tittle {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}


.table__tittle {
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
    font-family: 'LatoBold';
}

.table {
    font-style: oblique;
    font-family: 'Lato';
    font-size: 2.5rem;
}



p {
    font-size: 3rem;
}


.navbar li {
    font-size: 3rem;
    padding: 1%;
}

.navbar a {
    font-size: 3rem
}



.contenedorDesc {
    width: 70%;
    border: 1px solid;
    margin: auto;
}

.contenedorDesc p {
    margin: 2%;
    font-size: 2.5rem
}

footer {
    width: 100%;
}

footer h3 {
    font-size: 2rem;
}

.container_products {
    display: grid;
    grid-template-columns: repeat(4, 21%);
    grid-template-rows: auto auto;
    gap: 5%;
    margin-bottom: 30px;
}

.container_image_prod {
    width: 100%;
    height: 100%;
}

.item {
    border-radius: 5px;
    width: 100%;
    height: 100%
}